body {
    background-image: url("HOW-TO-WRITE-A-BLOG-POST-FOR-YOUR-MEDICAL-PRACTICE-1024x536.jpg");
    background-size: cover;
    background-attachment: fixed;
}
div1 {
    color: rgb(0, 0, 0);
    background-color: rgb(145, 227, 255);
    text-align: center;
    width: 350px;
    height: 150px;
    margin: 20px;
    border-radius: 20px;
    margin-left: 40%;
    margin-top: 100px;
    position: relative;
    top: 150px;
}


